:root {
  --color-bg: #0b0b0b;
  --color-text: white;

  --font-header: "Oswald", sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

h1 {
  font-family: var(--font-header);
  text-transform: uppercase;
  height: 110px;
}

.glide__track,
.glide__slides {
  overflow: visible;
}

.glide__slide {
  display: flex;
  opacity: 0.8;
  filter: blur(5px);
  /* justify-content: center;
  align-items: center; */
}
.glide__slide img {
  width: 450px;
}

.glide__slide--active {
  transform: scale(1.5);
  opacity: 1;
  z-index: 1;
  filter: blur(0);
}

.glide__arrows {
  margin-top: 100px;
  text-align: center;
}

.glide__arrow {
  all: unset;
}
